.container{
    width: 500px;
    height: 600px;
    border: 2px solid black;
    background-color: whitesmoke;
    color: blue;
    margin-left: 13cm;
    text-align: center;
    padding: 20px;
}
input{
    margin-top: 20px;
    width: 250px;
    min-height: 30px;
    margin-left: 20px;
}
button{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    margin-left: 80px;
}
.task{
    display: inline flex;
    padding-right: 20px;
    margin-top: 20px;
}
.margin{
    
    width: 250px;
    min-height: 30px;
    border: 2px solid black;
    text-align: left;
}